<div class="log_in_form">
<h3>Reenviar instrucciones para confirmar la cuenta</h3>
<br>
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, class:"form-control", autofocus: true, placeholder:"Email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %> 
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Reenviar instrucciones", class:"btn btn-primary" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
</div>