<div class="log_in_form">
  <h3>Actualice sus datos</h3>
  <br>

  <%= form_for @user, html:{id:"wizard"} do |f| %>
  <h3>Cuenta</h3>
  <section>
    <div class="form-group">
      <%= f.password_field :password, class:"form-control", autocomplete: "off", placeholder:"Contraseña (8 caracteres mínimo)" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, class:"form-control", autocomplete: "off", placeholder:"Confirmar contraseña" %>
    </div>
  </section>
  <h3>Personal</h3>
  <section>
    <div class="form-group">
      <%= f.text_field :name, class:"form-control", placeholder:"Nombre" %>
    </div>
    <div class="row">
      <div class="col-xs-6">
      <%= f.text_field :surname_1, class:"form-control", placeholder:"Primer apellido" %>
      </div>
      <div class="col-xs-6">
      <%= f.text_field :surname_2, class:"form-control", placeholder:"Segundo apellido" %>
      </div>
    </div><br/>
    <div class="row">
      <div class="col-xs-6">
        <%= f.text_field :birthday, class:"form-control datepicker", 'data-behaviour' => 'datepicker', placeholder:"Fecha nacimiento" %>
      </div>
      <div class="col-xs-6">
        <%= f.country_select(:country, ["Spain"], {}, {class: "form-control"})%>
      </div>
    </div><br/>
    <div class="form-group">
      <%= f.text_field :dni_passport, class:"form-control", placeholder:"DNI o Pasaporte" %>
    </div>
    <div class="form-group">
      <%= f.text_field :phone_number_1, class:"form-control", placeholder:"Teléfono" %>
    </div>
    <div class="form-group">
      <%= f.text_field :phone_number_2, class:"form-control", placeholder:"Teléfono alternativo" %>
    </div>
  </section>
  <% end %>
  <%= link_to "Log in", new_admin_session_path %><br />
</div>

<script>
  var form = $('#wizard');
  form.steps({
    headerTag: 'h3',
    bodyTag: 'section',
    transitionEffect: 'slideLeft',
    autoFocus: true,
    onFinished: function (event, currentIndex)
      {
        form.submit();
      }
  });

  $('.datepicker').datepicker({
    format: 'dd/mm/yyyy',
    startDate: '01/01/1920',
    language: 'es',
    startView: 2
  });
</script>