<div class="log_in_form">
<h3>¿Has olvidado la contraseña?</h3>
<br>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, class:"form-control", autofocus: true, placeholder:"Email" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Enviar instrucciones para nueva contraseña", class:"btn btn-primary" %>
  </div>
<% end %>
<br>

<%= render "devise/shared/links" %>
</div>