<ul class="list-inline">
  <li class="m"><%= link_to " << ", date: @date.prev_year %></li>
  <li class="m"><%= link_to " < ", date: @date.prev_month %></li>
  <%= @date.strftime("%B %Y") %>
  <li class="m"><%= link_to " > ", date: @date.next_month %></li>
  <li class="m"><%= link_to " >> ", date: @date.next_year %></li>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-event" style="float: right">
  + Añadir evento
  </button>
  <div style="margin: 0 auto; text-align: center" class="list-inline">
    <li><%= link_to "Día", events_day_path(date: Date.today), class:"btn btn-sm btn-info" %></li>
    <div class="btn group">
      <li id="am" class="btn btn-sm btn-warning active">AM</li>
      <li id="pm" class="btn btn-sm btn-warning">PM</li>
    </div>
  </div>
</ul>
</br>
<div id="events">
  <div id="am_calendar" class="hidden">
    <%= render "month_am_calendar" %>
  </div>
  <div id="pm_calendar" class="hidden">
    <%= render "month_pm_calendar" %>
  </div>
</div>

<div class="filter">
  <select class="form-control" id="center_selector" onchange="feed_table()">
  <% @centers.each do |center| %>
    <option><%= center.center_name %></option>
  <% end %>
  </select><br>
  <div id="checkbox-container" onchange="feed_table()">
    <% @users.each do |doctor| %>
      <div>
        <input type="checkbox" id="<%= doctor.name %>" value="<%= doctor.name%>">
        <label for="<%= doctor.name%>"><%= doctor.name %></label>
      </div>
      <% end %>
  </div>
</div>

<%= render 'form_new_event' %>

<script>

if($("#am").hasClass("active")){
  $("#am_calendar").removeClass('hidden');
}

$("#am").on('click', function(){
  $(this).addClass("active");
  $("#pm").removeClass("active");
  $("#am_calendar").removeClass('hidden');
  $("#pm_calendar").addClass("hidden");
})

$("#pm").on('click', function(){
  $(this).addClass("active");
  $("#am").removeClass("active");
  $("#am_calendar").addClass("hidden");
  $("#pm_calendar").removeClass("hidden");
})


$('td').each(function() {
    var val = parseInt($(this).find('input').val());
      if (val >= 1 && val <= 2){
        $(this).removeClass();
        $(this).addClass('very_light');
      }
      else if (val > 2 && val <= 3){
        $(this).removeClass();
        $(this).addClass('light');
      }
      else if (val > 3 && val <= 4){
        $(this).removeClass();
        $(this).addClass('moderated');
      }
      else if (val > 4 && val <= 5){
        $(this).removeClass();
        $(this).addClass('heavy');
      }
      else if (val > 5) {
        $(this).removeClass();
        $(this).addClass('very_heavy');
      }
})

feed_table();

function remember_center() {
  var center_selected = document.getElementById("center_selector")
  if($.cookie("center_selected") !== null && $.cookie("center_selected") !== center_selected.value ){
    var center = $.cookie("center_selected")
    $("#center_selector").find('option:contains(' + center + ')').attr("selected", true)
    $.cookie("center_selected", center_selected.value)
  }else{
    $.cookie("center_selected", center_selected.value)
  }
}

function remember_doctors() {
  var checkboxValues = JSON.parse(localStorage.getItem('checkboxValues')) || {},
  <% @users.each do |doctor| %>
    $checkboxes = $("#checkbox-container :checkbox");
  <% end %>

  $checkboxes.on("change", function(){
    $checkboxes.each(function(){
    checkboxValues[this.id] = this.checked;
  });

  localStorage.setItem("checkboxValues", JSON.stringify(checkboxValues));
  });

  // On page load
  $.each(checkboxValues, function(key, value) {
  $("#" + key).prop('checked', value);
});
}

function feed_table() {
  remember_center()
  remember_doctors()
  var center_selected = document.getElementById("center_selector")
  var doctors_selected = new Array
  <% @users.each do |doctor| %>
    doctors_selected.splice(0,0,$('#doctor_selector_<%= doctor.name %>:checked').val())
  <% end %>
  var date_param = window.location.search.substring(6);
  $.ajax({
    url: "/events/month_filter",
    method: "POST",
    data: { "center_name": center_selected.value, "date": date_param, "doctors": JSON.parse(localStorage.getItem('checkboxValues')) },
    dataType:'JSON',
    success: function(json){
      location.reload
    },
    error: function(){

    }
  })
 } 
</script>