</p>
<%= link_to "Invitar a personal", new_user_invitation_path %></p>
<% @users.each do |f| %>
	<% if f != nil %>
		<table class="table table-striped">
			<tbody>
				<tr>
					<td><%= f.name %></td>
					<td><%= f.surname_1 %></td>
					<td><%= f.email %></td>
					<td><%= f.job_position %></td>
				</tr>
			</tbody>
		</table>
	<% else %>
		<p>Invita personal a alguna de las clínicas creadas</p>
	<% end %>
<% end %>