<!DOCTYPE html>
<html>
<head>
  <title>Wayfix</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="jquery.steps.js"></script>
</head>
<body>
<div class="header">
	<img id="logo" src= <%= asset_path("wayfix.png") %> >
  <span style="float: right"><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %></span>
</div>

  <div id="navbar">
  	<ul class="list-unstyled">
      <li>
        <%= link_to root_path do %>
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <% end %>
  	  </li>
  	  <li>
        <%= link_to calendar_path do  %>
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        <% end %>
  	  </li>
  	  <li>
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
  	  </li>
  	  <li>
        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
  	  </li>
  	  <li>
        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
  	  </li>
      <li>
        <%= link_to settings_path do  %>
          <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
        <% end %>
      </li>
  	</ul>
  </div>
<% flash.each do |key, value| %>
  <div class="flash_message alert-success"><%= value %></div>
<% end %><br/>
  <div id="main_panel">
  <%= yield %>
  </div>
</body>
</html>
