<!DOCTYPE html>
<html>
<head>
  <title>Wayfix</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="background_logsign">
<div class="header_before_wayfix">
	<img id="logo" src= <%= asset_path("wayfix_3.png") %> >
</div>
<%= yield %>
</body>
</html>
